@charset "UTF-8";

#header {
	margin-top:50px;
	height: 70px;
}

.content-container {
	margin: auto;
	height:100%;
	min-height:inherit;	
	width:960px;
}

#visual {
	height: 171px;
	background: #313131 url("../images/bg-visual.png") center;
	border-top: solid 3px #8cba34;
}
	#visual .content-container{
		background: #313131 url("../images/customer/visual.png") no-repeat center;
	}

/* -------보디 스타일 왕자굳------------------------------------ */
#body {
	border-top: solid 5px #8cba34;
	margin-top:1px;
	min-height: 300px;
}
	#aside {
		float: left;
		min-height: inherit;
		width: 205px;
	}
	#main {
		float: left;
		min-height: inherit;
		width:755px;
	}
	/* 매인의 막내동생 */
	#body::after {
    content: "come on";
    clear: both;
    display: table;
}

/* --------------footer style-------------------------- */	
#footer {
	height: 100px;
	background: #313131;
}
#floating{
	position: fixed;
	width:100%;
	height: 50px;
	background: lime;
	left: 0px;
	top: 0px 
}
	#floating div{
		position: absolute;
		height: 60px;
		width: 60px;
		background: fuchsia;
		top: 10px;
		left: 10px
	}

